# What are data structures, and why are they important?
- It is use to organizing and storing data in computer to allow for efficient access and modification.
# Explain the difference between mutable and immutable data types with examples?
- Mutable-Mutable referred to data type which can be modify or changeable.The changes can be deleted,added,modify.For Example:-List.
- Immutable-Mutable referred to data type which cannot be modify or changeable.For Example:-Tuple.
# What are the main differences between lists and tuples in Python?
- Lists is mutable datatype which can be changeable or modify.This means after the list is created,its elements can be modified,added,or removed.
- Tuple is immuable datatype which cannot be changeable or modify.This means after the tuple is created,its elements cannot be modified,added,or removed.
# Describe how dictionaries store data?
- Dictionaries store data in the form of key and values.The keys can be unchangeable but the values is changeable.For Example:-{Key:value,key:value,---}
# Why might you use a set instead of a list in Python?
- Use a set when you need unique elements and fast membership checks (O(1)), unlike lists which allow duplicates and are slower (O(n)).Sets also support handy operations like union, intersection, and difference.
# What is a string in Python, and how is it different from a list?
- String is written inside the quotes("HELLO").Strig is immutable only stores character.On the other hand,List is mutuble which can store mixed data type.
# How do tuples ensure data integrity in Python?
- tuples ensure data integrity in Python because once it is created,its elements cannot be modified,added,or removed.
#What is a hash table, and how does it relate to dictionaries in Python?
- Hash Table is use the store data in key-value pairs.It use to map the value with the index to acess it fast.
- Dictionaries is implement using hash table because it can delete,insert,lookup very fast on average.
# Can lists contain different data types in Python?
- Yes,it can contain different data type.
 for example= mixed_list = [10, "hello", 3.14, True]
print(mixed_list)

In [128]:
#  for example=
mixed_list = [10, "hello", 3.14, True]
print(mixed_list)

[10, 'hello', 3.14, True]

# Explain why strings are immutable in Python
- String are immutable to ensure consistency,efficiency.Onces the string is created,its content doesn't change,only new string ca be formed.
# What advantages do dictionaries offer over lists for certain tasks.
- Dictionaries allow fast lookups,Insertion,deletion using keys,unlike this list using linear search.
- Dictionaries also alllows key-value mapping,making data more structure and readable than relying on list indexes.
# Describe a scenario where using a tuple would be preferable over a list.
- Tuple would be preferable when you want to store fixed and unchangeable data.
# How do sets handle duplicate values in Python?
- Set automatically remove the duplicate value.
- When you want to added the value in the set it automatically give you the unique value and ignores duplicate or repeated values.
# How does the “in” keyword work differently for lists and dictionaries?
- The "in" keyword work differently for lists and dictionaries.
-"In" in list:It help to check if the value(the values which we are finding) is there in the list.
"In" in Dictionary:It help to check if the key(the key which we are finding) is there in the Dict.

In [129]:
my_list = [1, 2, 3]
1 in my_list

my_dict = {'a': 10, 'b': 20}
'a' in my_dict

True

# Can you modify the elements of a tuple? Explain why or why not?
-No, you cannot modify the elements of a tuple because tuples are immutable in Python.Once a tuple is created, its size and contents are fixed, which ensures data integrity and allows tuples to be used safely as dictionary keys or in sets.
# What is a nested dictionary, and give an example of its use case?
Nested Dictionary refer to which contain another dictionary as its values.

In [130]:
student={
"student1":{"name":"bob","grade":"1"},
"student2":{"name":"bobby","grade":"B"}
 }
print(student["student1"]["grade"])

1

# Describe the time complexity of accessing elements in a dictionary
- Accessing elements in a Python dictionary has an average time complexity of   O(1) because dictionaries are implemented using hash tables.
# In what situations are lists preferred over dictionaries?
- lists preferred over dictionaries when you need ordered collection,allow duplicates,or want to access element by index.
# Why are dictionaries considered unordered, and how does that affect data retrieval
- because they did not maintain the order in which items were added.
- They donot rely of the order of key and values when iterating,you can access items by key rather then by position.
# Explain the difference between a list and a dictionary in terms of data retrieval
- list:access the element by the index.Retrieval is O(1) for known index or for searching value is O(n).
- Dictionary:access the element by the Key.Retrieval is O(1) for average. much faster for lookups than seraching in the list.

In [131]:
#Write a code to create a string with your name and print it?
string="Prgati Arya"
print(string)

Prgati Arya

In [132]:
#Write a code to find the length of the string "Hello World"
str="Hello World"
print(len(str))

11

In [133]:
# Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
print(a[0:3])

Pyt

In [134]:
# Write a code to convert the string "hello" to uppercase
str="hello"
name=str.upper()
print(name)

HELLO

In [135]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple"
b="I like apple"
print(b.replace("apple","orange"))

I like orange

In [136]:
# Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [137]:
# 'P Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [138]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [139]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
my_list=list[1]
my_list

'b'

In [140]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10, 20, 30, 40, 50]
list1=list[::-1]
list1

[50, 40, 30, 20, 10]

In [141]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100, 200, 300)
print(tuple)

(100, 200, 300)

In [142]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [143]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
print(min(tuple))

5

In [144]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [145]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("Apple","Banana","Lichi")
print("kiwi" in fruits)

False

In [146]:
fruits=("kiwi","Banana","Lichi")
print("kiwi" in fruits)

True

In [147]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

In [148]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [149]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

In [150]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1, 2, 3}
set2={3, 4, 5}
print("Union of set and set2:",set1.union(set2))

Union of set and set2: {1, 2, 3, 4, 5}

In [151]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
print("The insterestion og set and set2:",set1.intersection(set2))

The insterestion og set and set2: {2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Pragati","age":20,"city":"Rudrapur"}
print(dict)

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 dict1={'name': 'John', 'age': 25}
 dict1["country"]="USA"
 print(dict1)

In [162]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict1={'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [153]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
student_info={'name': 'Bob', 'age': 22, 'city': 'New York'}
student=student_info.pop("age")
print(student_info)

{'name': 'Bob', 'city': 'New York'}

In [163]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
s={'name': 'Alice', 'city': 'Paris'}
print("city" in s)

True

In [164]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]

my_tuple = (10, 20, 30, 40, 50)

my_dict = {"name": "Alice", "age": 25, "city": "New York"}

print("my_list:",my_list)
print("my_tuple",my_tuple)
print("my_dict:",my_dict)

my_list: [1, 2, 3, 4, 5]
my_tuple (10, 20, 30, 40, 50)
my_dict: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [156]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
random_numbers=[random.randint(1,100) for i in range(5)]
random_numbers.sort()
print(random_numbers)

[13, 22, 33, 40, 92]

In [157]:
#  Write a code to create a list with strings and print the element at the third index.

list=["apple","banana","cherry","mango"]
print(list[3])

mango

In [158]:

# Write a code to combine two dictionaries into one and print the result.
dict6 = {'a': 1, 'b': 2}
dict7 = {'c': 3, 'd': 4}
combined_dict={**dict6, **dict7}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [161]:
#Write a code to convert a list of strings into a set.
import builtins
my_list=["apple","banana","cherry","mango"]
my_set=builtins.set(my_list)
print(my_set)

{'apple', 'mango', 'banana', 'cherry'}